* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    background-image: url(/img/AgroNeo\ -\ propaganda\ \(1\).png);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#comeco {
    position: relative;         
    padding: 40px 0;
    background-position: center;
    color: #ffffff;
    text-align: center;
    z-index: 1;
    background-color: #0c3a1d;
    border-bottom: #ffffff 2px solid;                  
}
#comeco h1{
    z-index: 1;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
#comeco::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('/imagens/sua-imagem.jpg');
    background-position: center;
    background-size: cover;
    filter: blur(5px);
    opacity: 0.3;
    z-index: -1;
}

.form-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    margin: 0 auto;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

input[type="radio"] {
    display: none;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    color: #555;
    font-weight: bold;
}

#login-tab:checked ~ .tabs label[for="login-tab"],
#signup-tab:checked ~ .tabs label[for="signup-tab"] {
    color: #0c3a1d;
    border-color: #0c3a1d;
}

.form {
    display: none;
}

#login-tab:checked ~ .login-form,
#signup-tab:checked ~ .signup-form {
    display: block;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #0c3a1d
;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0d6b39;
}

h2 { 
    margin-bottom: 15px;
}

#rodape {
    background-color: #0c3a1d;
    color: whitesmoke;
    padding: 40px 20px 40px 20px;
    font-size: 16px;
    border-top: 1px solid #0c3b22;
    text-align: center;
    border-top: #ffffff 2px solid;  
    margin-top: auto; 
}

#rodape a {
    color: #c3e9dd;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.conteudo-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    max-width: 1100px;
    margin: 0 auto;
}

.rodape-esquerda,
.rodape-centro,
.rodape-direita {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape-esquerda {
    justify-content: flex-start;
}

.rodape-centro {
    justify-content: center;
}

.rodape-direita {
    justify-content: flex-end;
}

.social-icon {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    transition: transform 0.2s ease;
}

.social-icon:hover {
    transform: scale(1.1);
    border-radius: 20px;
}